nav.navbar.navbar-default
  .navbar-header
    .navbar-brand 
      img.pull-left(
        style="width: 80px;margin: 0px 10px 0 0;" 
        src="../assets/logo.png"
      )

.container
  .row
    .col-md-8.col-md-offset-2
      h1 Disclaimer
      p Eleven Bulgaria OOD (“Eleven”) has prepared this information page (the "Page"), and its contents may be copied, modified, and redistributed if and only if the copied version is made available on the same terms to others and acknowledgment of the author is included (a link back to this page is generally thought to satisfy the attribution requirement.)
      p No representation, warranty or undertaking whatsoever, express or implied, is made or given by or on behalf of Eleven, the the companies or any other person in relation to the accuracy, completeness or fairness of the information contained in this Page as a whole, or any of its contents, including, without limitation, the reasonableness or likelihood of achievement of any opinions, estimates, forecasts or projections. Eleven and the companies do not accept any responsibility or liability in respect of this Page or any of its contents.
      p This Page does not constitute or form a prospectus and is not intended to form the basis of any investment decision. This Page does not constitute, and no person viewing this Page may treat it as, an offer, invitation, commitment or recommendation of any kind in any jurisdiction for the sale or purchase of shares in any of the companies or any other securities, assets or property whatsoever.
      p Due to the dynamic nature of the Internet, resources that are free and publicly available one day may require a fee or restrict access the next, and the location of items may change as menus, homepages, and files are reorganized. User expressly agrees that use of the Page is at the user's sole risk. Neither Eleven or any of the companies, any of their affiliates, or any of their respective directors, officers, employees, agents, third party content providers or licensors warrants that the Page will be uninterrupted or error free, or will be updated in the future.
