!!!
html
  head
    script(src='js/require.js', data-main='js/app/main')
    link(rel='stylesheet', href='css/main.css')
    link(rel="icon", type="image/png", href="assets/11.png")
    title Eleven in numbers
  body
    #main
